---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
      <h1>Acerca de...<h1>
      <p>
      Esta página está creada por Ramón Conde Alvarez como trabajo del Patrimonio Cultural de Escuela Ideo.
      </p>
    </BaseLayout>